*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#f8f4ef;

font-family:Arial, Helvetica, sans-serif;

overflow:hidden;

color:#5c4d43;

}

.pantalla{

position:absolute;

width:100%;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:35px;

opacity:0;

pointer-events:none;

transition:1s;

}

.pantalla.activa{

opacity:1;

pointer-events:auto;

}

.contenido{

max-width:500px;

text-align:center;

animation:subir .8s;

}

.corazon{

font-size:60px;

margin-bottom:20px;

}

h1{

font-size:48px;

margin-bottom:15px;

}

h2{

font-size:38px;

margin-bottom:30px;

}

.subtitulo{

font-size:22px;

margin-bottom:45px;

line-height:1.8;

}

p{

font-size:22px;

line-height:1.8;

margin-bottom:25px;

}

button{

margin-top:30px;

padding:18px 45px;

border:none;

border-radius:40px;

background:#8b7c6c;

color:white;

font-size:20px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

@keyframes subir{

from{

opacity:0;

transform:translateY(35px);

}

to{

opacity:1;

transform:translateY(0);

}

}
